ul, li, p {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.crud {
  padding: 50px;
}

.crud__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.crud__label {
  display: inline-block;
  margin: 0;
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.crud__update_btn {
  background-image: url("./img/update.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.crud__note {
  position: relative;
  display: inline-block;
  margin: 0 48px 30px 0;
  border: 1px solid #000000;
  padding: 10px;
  width: 244px;
  min-height: 70px;
  font-size: 16px;
}

.crud__note_btn {
  position: absolute;
  top: -22px;
  right: -22px;
  background-image: url("./img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.crud__form_label {
  display: block;
  padding: 10px;
}

.crud__wrapper_input {
  display: inline-block;
  position: relative;
}

.crud__form_input {
  padding: 10px;
  width: 345px;
  height: 117px;
}

.crud__form_btn {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-image: url("./img/arrow.png");
  background-position: 9px center;
  background-repeat: no-repeat;
  background-size: 70%;
}